/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --title-decor-text: #353430;
  --section-title-color: #353430;
  --menu-button-color: #353430;
  --menu-button-hover-border: rgba(53, 52, 48, 0.4);
  --menu-button-focus-outline: #353430;
  --link-shadow: #FF8DCB;
  --link-focus-outline: #353430;
  --corner-color: #353430;
  --rec-decor-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .header__decoration-rec {
  display: none;
}

/* Автоматическая светлая тема, если у пользователя в системе включен светлый режим */
@media (prefers-color-scheme: light) {
  :root {
    /* Переменные светлой темы */
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --title-decor-text: #353430;
    --section-title-color: #353430;
    --menu-button-color: #353430;
    --menu-button-hover-border: rgba(53, 52, 48, 0.4);
    --menu-button-focus-outline: #353430;
    --link-shadow: #FF8DCB;
    --link-focus-outline: #353430;
    --corner-color: #353430;
    --rec-decor-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
  }

  .header__decoration-rec {
    display: none;
  }
}